SCHEDULE=04:00,12:00
DB_HOST=example.com
DB_PORT=5432
DB_NAME=my_db
DB_USER=my_user
DB_PASSWORD=my_pw
S3_ENDPOINT=https://fra1.digitaloceanspaces.com/
S3_REGION=fra1
S3_BUCKET=my_bucket
S3_KEY=xxx
S3_SECRET=xxxxxx